

<section class="columns">
  <div class="column column-three">
    <h2>Your Note</h2>
    <div class="input-sizer">
      <div>
        {{textarea placeholder="Add a title!" value=noteCopy2 row=25 cols=40}}
      </div>
      <div>
        {{textarea placeholder="Add a note!" value=noteCopy row=25 cols=40}}
      </div>
      <div class="save-format">
        <button {{action 'newNote'}}>Save Note</button><div class="alertables">{{message-queue classPrefix='flash'}}</div>
      </div>
    </div>
  </div>

  <div class="column column-three">
    <h2>Preview</h2>
    <div class="fixed-preview">
      {{input value=noteCopy2 readonly=true}}
    </div>
    <div class="fixed-preview">
      {{input value=noteCopy readonly=true}}
    </div>
  </div>

</section>
{{#each note in model}}
  <section>
    <div class="note-format">
      <h3><strong>{{note.title}}</strong></h3>
      <p>{{note.body}}</p>
      <button {{action 'deleteNote' note.id}}>Delete Note</button>
    </div>
  </section>
{{/each}}


{{outlet}}
